body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./Netflix_img/Back_img.jpg);
    background-repeat: no-repeat;
    background-size: 100%; */
    background-color: black;
}
header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 127px;
    padding: 1.5rem 3rem;
    padding-bottom: 0;
    position: absolute;
    background: transparent;
    
}
#left> img{
    width: 100%;
    height: 2.5rem;
}
#right{
    display: flex;
    justify-content: space-around;
    width: 19%;
    padding: 0 1rem;
}
#sel{
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-right: 1rem;
}
#right> #sel>  select{
    text-align: center;
    border: none;
    -webkit-appearance: none;
    font-size: 1rem;
    color: white;
    background: transparent;
    padding: 6px 30px;
    height: 2rem;
    width: 125.6px;
    background-color: rgba(14, 13, 13, 0.767);
    border: 1px solid rgb(165, 158, 158);
    border-radius: 5px;
}
#right> #sel> select> option{
    background-color: white;
    color: black;
}
#right> #sel> div{
    color: white;
    padding-top: 5px;
    margin: 0;
    padding: 0;
}
#lang{
    position: absolute;
    top: 19%;
    left: 7%;
}
#angle{
    position: absolute;
    top: 23%;
    right: 11%;
}
#right> button{
    width: 4.9rem;
    height: 2rem;
    background-color:#e50914;
    color: white;
    font-weight: 500;
    border: none;
    font-size: 0.9rem;
    border-radius: 6px;
    cursor: pointer;
}
#main{
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./Netflix_img/Back_img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 17.25rem 0 12rem;
}
#main> h1{
    font-size: 3rem;
    margin: 0 0 16px;
}
#main> p{
    font-size: 1.5rem;
    margin-top: 0;
}
#main> h3{
    font-size: 20px;
    margin: 0 0 1rem;
}
#input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 40%;
}
#main>#input> input{
    width: 55%;
    height: 1.4rem;
    color: white;
    background-color: #1c1d2055;
    border: 0.3px solid #767676;
    border-radius: 5px;
    padding: 16px 16px;
    font-size: 1rem;
}
#main>#input> input::placeholder{
    color: #b9b9b9;
}
#main>#input> button{
    width: auto;
    height: 3.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: rgb(229, 9, 20);
    border: none;
    border-radius: 0.25rem;
}
#main>#input> button> span{
    padding-right: 0.7rem;
} 

/* TV Section */
section{
    background-color: black;
}
#TV{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.5rem;
    margin-top: 4.5rem;
}
#TV> #enjoy{
    width: 48%;
}
#enjoy> h2{
    font-size: 3rem;
    color: white;
}
#enjoy> p{
    font-size: 1.5rem;
    color: white;
}
#TV> #tv-video{
    width: 48%;
    position: relative;
}
#tv-video> img{
    width: 100%;
    position: relative;
    z-index: 1;
}
#tv-video> video{
    position: absolute;
    left: 13%;
    top: 20.5%;
    width: 73%;
}
hr{
    height: 7px;
    background-color: #232323;
    border: none;
    margin: 0;
}

/* Download Section  */
#download{
    color: white;
    width: 80%;
    margin: auto;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 4.5rem;
    margin-top: 4.5rem;
}
#d-left{
    width: 48%;
    position: relative;
}
#d-left> img{
    width: 100%;
}
#phone-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    background-color: black;
    padding: 8px 12px;
    position: absolute;
    bottom: 11%;
    left: 23%;
    border: 2px solid #767676;
    border-radius: 10px;
}
#phone-box> img{
    width: 3.5rem;
    height: 5rem;
}
#phone-box> p{
    font-size: 1rem;
    font-weight: 600;
}
#phone-box> p> span{
    font-size: 14px;
    color: #0071eb;
    font-weight: normal;
}
#phone-box> div> img{
    width: 3rem;
    height: 3rem;
}
#d-right{
    width: 50%;
    margin-left: 1.7rem;
}
#d-right> h2{
    font-size: 3rem;
    margin: 0;
}
#d-right> p{
    font-size: 1.5rem;
}

/* PC Section  */
#pc{
    color: white;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.5rem;
    margin-top: 4.5rem;
}
#pc-left{
    width: 48%;
    padding-left: 1rem;
}
#pc-left> h2{
    font-size: 3rem;
    margin: 0;
}
#pc-left> p{
    font-size: 1.5rem;
}
#pc-right{
    width: 48%;
    position: relative;
}
#pc-right> img{
    width: 100%;
    position: relative;
    z-index: 1;
}
#pc-right> video{
    width: 63%;
    position: absolute;
    top: 11.5%;
    left: 19%;
}

/* Kids Section  */
#kids{
    color: white;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.5rem;
    margin-top: 4.5rem;
}
#kids-left{
    width: 49%;
    padding-left: 1rem;
}
#kids-left> img{
    width: 100%;
}
#kids-right{
    width: 48%;
}
#kids-right> h2{
    font-size: 3rem;
    margin: 0;
}
#kids-right> p{
    font-size: 1.5rem;
}

/* quetions Section  */
#quetions{
    width: 80%;
    margin: auto;
    color: white;
}
#quetions> h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 1000;
}
.faq-cont{
    margin-top: 8px;
}
#quetions> .faq-cont> .que{
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 0 20px;
}
#quetions> .faq-cont> .que> h3{
    font-size: 1.5rem;
}
.ans{
    margin-top: 2px;
    padding: 1rem 1.5rem 1rem 2rem;
    display: none;
    position: relative;
    background-color: #2d2d2d;
}
.ans> p{
    margin: 0;
    font-size: 1.3rem;
    padding: 0 0 1rem 0;
}
.faq-cont:hover .ans{
    display: block;
}
#membership{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 0 4.5rem;
}
#membership> h4{
    font-size: 1.2rem;
    font-weight: 100;
}
#membership> div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 80%;
}
#membership>div> input{
    width: 32%;
    height: 1.4rem;
    color: white;
    background-color: #1c1d2055;
    border: 0.3px solid #767676;
    border-radius: 5px;
    padding: 16px 16px;
    font-size: 1rem;
}
#membership>div> input::placeholder{
    color: #b9b9b9;
}
#membership>div> button{
    width: auto;
    height: 3.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: rgb(229, 9, 20);
    border: none;
    border-radius: 0.25rem;
}
#membership>div> button> span{
    padding-right: 0.7rem;
} 

/* Footer Section */
footer{
    width: 80%;
    margin: auto;
    margin-bottom: 4.5rem;
    margin-top: 4.5rem;
}
footer h4{
    margin: 0;
    color: #ffffffb3;
    font-size: 18px;
}
footer a{
    color: #ffffffb3;
}
#foot{
    display: flex;
    margin-top: 5px;
    gap: 13%;
}
#foot ul{
    list-style: none;
    padding: 0;
}
#foot a{
    display: block;
    margin-top: 16px;
}
#foot-sel{
    font-size: 1rem;
    font-weight: 400;
    color: white;
    position: relative;
    text-align: left;
}
#foot-sel> select{
    padding: 0.375rem 2.25rem;
    background: transparent;
    border: 1px solid rgb(165, 158, 158);
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    -webkit-appearance: none;
}
#foot-sel> select> option{
    background-color: white;
    color: black;
}
#foot-lang{
    position: absolute;
    top: 20%;
    left: 0.5%;
}
#foot-angle{
    position: absolute;
    top: 22%;
    left: 8%;
}
footer p{
    color: #ffffffb3;
    margin-top: 24px;
}

@media (max-width: 600px){
    header{
        width: 89%;
        margin: 0 0px;
        padding: 1.5rem 1.5rem;
    }
    #left> img{
        width: 90%;
        height: 1.8rem;
    }
    #right{
        width: 50%;
        padding: 0 0rem;
        justify-content: flex-end;
    }
    #sel{
        display: flex;
        justify-content: space-around;
        position: relative;
        margin-right: 0.5rem;
    }
    #right> #sel>  select{
        font-size: 1rem;
        color: black;
        padding: 6px 0px;
        width: 65px;
    }
    #lang{
        top: 19%;
        left: 13%;
    }
    #angle{
        top: 23%;
        right: 17%;
    }
    #right> button{
        width: 40%;
        font-weight: 700;
    }

    /* main Section */
    #main{
        background-size: 230%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8rem 2rem 2rem 2rem;
        text-align: center;
    }
    #main> h1{
        font-size: 2rem;
    }
    #main> p{
        font-size: 1.2rem;
    }
    #main> h3{
        font-size: 1.2rem;
        margin: 1rem 0 1rem;
        font-weight: normal;
        line-height: 1.8rem;
    }
    #input{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0rem;
        flex-wrap: wrap;
        width: 100%;
    }
    #main>#input> input{
        width: 85%;
        margin-bottom: 1rem;
    }
    #main>#input> button{
        width: 57%;
        font-size: 1.2rem;
        font-weight: 700;
    }
    #main>#input> button> span{
        padding-right: 0.7rem;
    }

    #TV{
        width: 95%;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        margin-bottom: 4.5rem;
        margin-top: 4.5rem;
    }
    #TV> #enjoy{
        width: 80%;
        text-align: center;
    }
    #enjoy> h2{
        font-size: 2rem;
    }
    #enjoy> p{
        font-size: 1.2rem;
        color: white;
    }
    #TV> #tv-video{
        width: 90%;
    }
    #tv-video> img{
        width: 100%;
        position: relative;
        z-index: 1;
    }
    #tv-video> video{
        position: absolute;
        left: 13%;
        top: 20.5%;
        width: 73%;
    }
    hr{
        height: 7px;
        background-color: #232323;
        border: none;
        margin: 0;
    }

    /* Download Section  */
    #download{
        width: 95%;
        margin: auto;
        display: flex;
        flex-direction: column-reverse;
        /* justify-content: space-between; */
        align-items: center;
        margin-bottom: 4.5rem;
        margin-top: 3.5rem;
    }
    #d-left{
        width: 100%;
    }
    #d-left> img{
        width: 100%;
    }
    #phone-box{
        justify-content: space-around;
        width: 65%;
        padding: 0px 0px;
        bottom: 8.5%;
        left: 17.5%;
    }
    #phone-box> img{
        width: 2.2rem;
        height: 3rem;
    }
    #phone-box> p{
        font-size: 0.9rem;
        font-weight: 600;
    }
    #phone-box> p> span{
        font-size: 12px;
    }
    #d-right{
        width: 100%;
        margin: 0;
    }
    #d-right> h2{
        font-size: 2rem;
        text-align: center;
    }
    #d-right> p{
        font-size: 1.2rem;
        text-align: center;
    }

    /* PC Section  */
    #pc{
        width: 95%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #pc-left{
        width: 98%;
        padding: 0;
    }
    #pc-left> h2{
        font-size: 2rem;
    }
    #pc-left> p{
        font-size: 1.1rem;
    }
    #pc-right{
        width: 95%;
    }

    /* Kids Section  */
    #kids{
        width: 90%;
        flex-direction: column-reverse;
        text-align: center;
    }
    #kids-left{
        width: 100%;
        padding-left: 1rem;
    }
    #kids-left> img{
        width: 100%;
    }
    #kids-right{
        width: 100%;
    }
    #kids-right> h2{
        font-size: 2rem;
    }
    #kids-right> p{
        font-size: 1.125rem;
        font-weight: 400;
        padding: 0 0.1rem;
    }

    /* quetions Section  */
    #quetions{
        width: 90%;
    }
    #quetions> h2{
        font-size: 2rem;
        font-weight: 700;
    }
    #quetions> .faq-cont{
        width: 98%;
    }
    #quetions> .faq-cont> .que{
        padding: 1.5rem;
    }
    #quetions> .faq-cont> .que> h3{
        font-size: 1.1rem;
        margin: 0;
    }
    .ans> p{
        font-size: 1.1rem;
    }
    #membership{
        width: 100%;
        text-align: center;
    }
    #membership> h4{
        font-size: 1.1rem;
        padding: 0 2rem;
    }
    #membership> div{
        flex-direction: column;
    }
    #membership>div> input{
        width: 100%;
        height: 1.2rem;
    }
    #membership>div> button{
        padding: 0.65rem 1rem;
        font-size: 1.2rem;
        margin-top: 0.7rem;
    }
    #membership>div> button> span{
        padding-right: 0.7rem;
    }

    /* Footer Section */
    footer{
        width: 80%;
        margin: 0 1.5rem;
        margin-bottom: 2.5rem;
        margin-top: 1.5rem;
    }
    footer h4{
        margin: 0;
        font-size: 1rem;
    }
    #foot{
        flex-wrap: wrap;
        gap: 0;
    }
    #foot ul{
        width: 50%;
        margin: 0;
    }
    #foot a{
        margin-top: 1rem;
        font-size: 14px;
    }
    footer p{
        font-size: 14px;
    }
    #foot-sel{
        margin-top: 2rem;
    }
    #foot-sel> select{
        padding: 0.3rem 2.25rem;
    }
    #foot-lang{
        position: absolute;
        top: 22%;
        left: 3.5%;
    }
    #foot-angle{
        position: absolute;
        top: 20%;
        left: 28%;
    }
}
